<div class="container">
  <mat-card>
    <mat-card-header>
      <div class="example-box" cdkDrag>
        <button mat-mini-fab>edit</button>
        <button mat-mini-fab>edit</button>
        <button mat-mini-fab>edit</button>
      </div>
      <div class="example-box" cdkDrag>
        <button mat-mini-fab>edit</button>
        <button mat-mini-fab>edit</button>
        <button mat-mini-fab>edit</button>
      </div>
      <div class="example-box" cdkDrag>
        <button mat-mini-fab>edit</button>
        <button mat-mini-fab>edit</button>
        <button mat-mini-fab>edit</button>
      </div>
      <div class="example-box" cdkDrag>
        <button mat-mini-fab>edit</button>
        <button mat-mini-fab>edit</button>
        <button mat-mini-fab>edit</button>
      </div>
      <div class="example-box" cdkDrag>
        <button mat-mini-fab>edit</button>
        <button mat-mini-fab>edit</button>
        <button mat-mini-fab>edit</button>
      </div>
      <div class="example-box" cdkDrag>
        <button mat-mini-fab>edit</button>
        <button mat-mini-fab>edit</button>
        <button mat-mini-fab>edit</button>
      </div>
      <div class="example-box" cdkDrag>
        <button mat-mini-fab>edit</button>
        <button mat-mini-fab>edit</button>
        <button mat-mini-fab>edit</button>
      </div>
    </mat-card-header>
    <hr />
    <mat-card-content><div class="card">Vedant</div> </mat-card-content>
  </mat-card>
</div>
